<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="diamondpick.dd_backend.Dao.lyz.FolderDao">
    <resultMap id="folderResultMap" type="diamondpick.dd_backend.Entity.lyz.Folder">
        <result column="folder_id" property="folderId"/>
        <result column="folder_name" property="folderName"/>
        <result column="creator_id" property="creatorId"/>
        <result column="create_time" property="createTime"/>
        <result column="parent_id" property="parentId"/>
        <result column="space_id" property="spaceId"/>
        <result column="self_authority" property="selfAuth"/>
        <result column="now_authority" property="nowAuth"/>
    </resultMap>

    <insert id="newFolder">
        insert into `folder`(folder_id, folder_name, creator_id, create_time, parent_id, space_id, self_auth, now_auth)
        values(#{folderId}, #{folderName}, #{creatorId}, #{createTime}, #{parentId}, #{spaceId}, #{selfAuth}, #{nowAuth})
    </insert>

    <!--    <select id="openFolder" resultMap="FolderResultMap">-->
    <!--        SELECT *-->
    <!--        FROM `Folder`-->
    <!--        WHERE `parent_id` = #{folderId}-->
    <!--    </select>-->

    <select id="getParentId">
        select parent_id
        from folder
        where folder_id = #{fileId}
    </select>

    <select id="getFolderBySpaceId" resultMap="folderResultMap">
        select *
        from folder
        where space_id = #{spaceId}
    </select>

    <select id="getFolderByParentId" resultMap="folderResultMap">
        select *
        from folder
        where parent_id = #{parentId}
    </select>
</mapper>