<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="diamondpick.dd_backend.Dao.SpaceDao">
    <!--    <resultMap id="spaceResultMap" type="diamondpick.dd_backend.Entity.lyz.Space">-->
    <!--        <result column="" property="spaceId"/>-->
    <!--        <result column="" property="spaceName"/>-->
    <!--        <result column="" property="creatorId"/>-->
    <!--        <result column="" property="createTime"/>-->
    <!--        <result column="" property="spaceType"/>-->
    <!--    </resultMap>-->

    <resultMap id="userSpaceResult" type="diamondpick.dd_backend.Entity.lyz.UserSpace">
        <result column="userspace_id" property="spaceId"/>
        <result column="userspace_name" property="spaceName"/>
        <result column="creator_id" property="creatorId"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <insert id="newUserSpace">
        insert into `userspace`(`userspace_id`, `userspace_name`, `creator_id`, `create_time`)
        values (#{spaceId}, #{spaceName}, #{creatorId}, #{createTime})
    </insert>

    <insert id="newTeamSpace">
        insert into `teamspace`(`teamspace_id`, `teamspace_name`, `team_id`, `create_time`)
        values (#{spaceId}, #{spaceName}, #{creatorId}, #{createTime})
    </insert>

    <insert id="newUserRecycle">
        insert into `userrecycle`(`file_id`, `del_id`, `del_time`, `pre_folder_id`, `user_id`)
        values (#{fileId}, #{delId}, #{delTime}, #{preFolderId}, #{userId})
    </insert>

    <insert id="newTeamRecycle">
        insert into `teamrecycle`(`file_id`, `del_id`, `del_time`, `pre_folder_id`, `team_id`)
        values (#{fileId}, #{delId}, #{delTime}, #{preFolderId}, #{teamId})
    </insert>

    <select id="getSpaceIdByTeamId">
        select `teamspace_id`
        from `teamspace`
        where `team_id` = #{teamId}
    </select>

    <select id="getSpaceIdByUserId">
        select `userspace_id`
        from `userspace`
        where `creator_id` = #{userId}
    </select>

    <select id="getUserSpace" resultMap="userSpaceResult">
        select `userspace_id`, `userspace_name`, `creator_id`, `create_time`
        from `userspace`
        where `creator_id` = #{userId}
    </select>

    <!--    <select id="getMySpace" resultType="">-->

    <!--    </select>-->

    <!--    <select id="getTeamSpace" resultType="">-->

    <!--    </select>-->

    <!--    <select id="getCollectionSpace" resultType="">-->

    <!--    </select>-->

    <!--    <select id="getRecycleSpace" resultType="">-->

    <!--    </select>-->

    <!--    <select id="getLastSpace" resultType="">-->

    <!--    </select>-->

</mapper>