<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtdd/mybatis-3-mapper.dtd" >
<mapper namespace="diamondpick.dd_backend.Dao.zzy.DocumentDao">
    <insert id="insertDoc">
        insert into documents(doc_id,name,creator_id,self_auth,now_auth,parent_id)
        values(#{param1},#{param2},#{param3},#{param4},#{param4},#{param5})
    </insert>
    <insert id="insertDocCollector">

    </insert>

    <select id="numOfDoc" resultType="Integer">
        select count(*) from documents
    </select>

    <select id="getParentId">
        select parent_id from documents where doc_id = #{fileId}
    </select>
</mapper>


