<?xml version="1.0" encoding="utf-8" ?>
<!--这是一个命名示例文件-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtdd/mybatis-3-mapper.dtd" >
<mapper namespace="diamondpick.dd_backend.Dao.yyh.UserDao">
<!--    <select id="selectUser" resultType="User">-->
<!--        select * from users-->
<!--        where id = #{param1}-->
<!--    </select>-->
<!--    <insert id="insertUser" >-->
<!--        insert into users (id, nickname, password, gender, intro, email)-->
<!--        values (#{userId}, #{nickname}, #{password}, #{gender}, #{intro}, #{email})-->
<!--    </insert>-->
<!--    <select id="selectUserBy" resultType="User">-->
<!--        select * from users-->
<!--        where #{name} = #{value}-->
<!--    </select>-->
</mapper>